input{
    background-color: yellow;
    padding-left:500px ;
}
h1{
    text-align: center;
}

#row2{
    padding-left: 500px;
    font-size: 25px;
}
#row1{
    padding-left: 500px;
    padding-top: 75px;
    font-size: 25px;
}
#row1 button{
    background-color: aqua;
    
}
#row2 button{
    background-color: aqua;
    
}
button:hover {
    background-color: darkblue;
    color: white;
    transform: scale(1.1); /* Slightly enlarges the button */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4); /* Adds a shadow */
  }